<div class="signup-form-intro">
  <h2>Create account</h2>
  <p>Are you a politician or a concerned citizen?</p>
  <p>Please select account type</p>
</div>

<div class="signup-form-img">
  <div class="citizen">
    <%= link_to image_tag("citizen_icon.jpg", width: 100, height: 100) %>
    <p><%= "I am a citizen" %></p>
  </div>
  <div class="politician">
    <%= link_to image_tag("politician_icon.jpg", width: 100, height: 100) %>
    <p><%= "I am a politician" %></p>
  </div>
</div>

<div class="masha-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

<div class="signup-form-inputs">
  <div class="form-inputs">
        <%= f.input :name,
    required: true,
    autofocus: true,
    placeholder: "name",
    input_html: { autocomplete: "name" }%>

    <%= f.input :profession,
    required: true,
    autofocus: true,
    placeholder: "profession",
    input_html: { autocomplete: "profession" }%>


      <%= f.input :email,
    required: true,
    autofocus: true,
    placeholder: "email",
    input_html: { autocomplete: "email" }%>

      <%= f.input :password,
    required: true,
    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
    placeholder: "password",
    input_html: { autocomplete: "new-password" } %>

      <%= f.input :password_confirmation,
    required: true,
    placeholder: "confirm passwords",
    input_html: { autocomplete: "new-password" } %>

    <%= f.input :mayor, as: :boolean, label: "Are you the Mayor?", label_html: {style: "display:block"}%>

  </div>
</div>


  <div class="form-actions">
    <div class="btn-color">
      <%= f.button :submit, "create account" %>
    </div>
  </div>
    <% end %>

</div>


