<<<<<<< HEAD
<h5><%= link_to complaint.description %></h5>
=======
<h5><%= link_to complaint.description, complaint_path(complaint) %></h5>
>>>>>>> b7e761252e236b0d1422cfbd2c184bde71a746eb
<div class="upvote">
  <div class="col-4 upvote-complaints" id="<%= complaint.id %>" >
    <%= link_to upvote_path(complaint: complaint),method: :put, remote: :true do %>
    <%= render 'likes', complaint: complaint %>
    <% end %>
  </div>
</div>
<<<<<<< HEAD
=======



>>>>>>> b7e761252e236b0d1422cfbd2c184bde71a746eb
