<div class="complaint-index-container">
  <div id='location-style'>
   <%= link_to image_tag("EDITICON.png", width: 32, height: 28), root_path %>
    <div id='address-location'>
      <% if params[:query].present? %>
        <p><strong><%= params[:query]  %></strong></p>
      <% else %>
        <p><strong>Madrid</strong>
      <% end %>
    </div>
  </div>
<p>Click a pin <%= link_to image_tag("PINICON.png", width: 16, height: 20), root_path %> to view complaints:</p>


</div>
<div id="map-container">
  <div
  id="map"
  style="width: 100%;
  height: 380px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  <% if @results.present?%>
    data-latitude="<%= @results[0] %>"
    data-longitude="<%= @results[1] %>"
  <% else %>
    data-latitude="40.4165"
    data-longitude="-3.70256"
  <% end %>
  ></div>
</div>
<div class="complaint-index-container">
  <%= link_to "Add a complaint", root_path, class: "btn btn-primary-red square-btn-red",  "data-toggle" => "modal", "data-target" => "#formModal" %>

<div id="btn-none-style">
  <button onclick="scrollWin(0, 550)" id="myBtn" ><%= image_tag("scroll_arrow_down.png", width: 32, height: 28) %></button>
</div>


  <div class="container">
    <h5 id="scrollcomplaint"> Complaints around the area </h5>
    <% @complaints.each do |complaint| %>
    <div class="complaint-container">
      <hr class="separator">
      <div class="row">
        <div class="col-8" >
          <%= link_to complaint_path(complaint), "data-toggle" => "modal", "data-target" => "#showModal_#{complaint.id}" do %>
            <p> "<%= complaint.description %>" </p>
          <% end %>
        </div>

        <div class="col-4 upvote-complaints" id="<%= complaint.id %>" >
            <%= render 'likes', complaint: complaint %>
       <div class="tag">
        <%= complaint.type.name %>
      </div>
    </div>
  </div>
  <%= render 'show', complaint: complaint  %>
  <% end %>
</div>
</div>

<!-- Modal for new complaint -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a complaint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "shared/form" %>
      </div>
    </div>
  </div>
</div>


<!-- Javascript for scrolling -->
<script>
  function scrollWin(x, y) {
    window.scrollBy(x, y);
  }
</script>




