<div id="city-container">
  <h1><%= current_user.city.name %></h1>
  <div id="city-type-filter">
    <h3>complaints on:  <%= @type.name.downcase %></h3>
  </div>
</div>
  <div class="margins-type">
    <span class="tag type typeColor" >
      <%= link_to type_path(Type.find_by(name: 'Bridge')) do %>
      <%= Type.find_by(name: 'Bridge').name  %>
      <% end %>
    </span>
    <span class="tag type typeColor">
      <%= link_to type_path(Type.find_by(name: 'Park')) do %>
      <%= Type.find_by(name: 'Park').name %>
      <% end %>
    </span>
    <span class="tag type typeColor">
      <%= link_to type_path(Type.find_by(name: 'Road')) do %>
      <%= Type.find_by(name: 'Road').name %>
      <% end %>
    </span>
    <span class="tag type typeColor">
      <%= link_to type_path(Type.find_by(name: 'Public Bulding')) do %>
      <%= Type.find_by(name: 'Public Bulding').name %>
      <% end %>
    </span>
  </div>

  <div class="madrid-map">
    <%= image_tag('MadridMap.png', width: 360, height: 250) %>
  </div>

  <div class="c-t-complaints-container">
    <div class="c-t-complaints-tilte">
      <h3>Complaints:</h3>
    </div>
    <div>
      <% @type.complaints.each do |complaint| %>
      <div class="complaint-container">
        <hr class="separator">
        <div class="row">
          <div class="col-8" >
            <%= link_to complaint_path(complaint), "data-toggle" => "modal", "data-target" => "#showModal_#{complaint.id}" do %>
              <p> "<%= complaint.description %>" </p>
            <% end %>
          </div>
          <div class="col-4 upvote-complaints">
            <i class="fas fa-thumbs-up" class="blue-font"></i>
            <%= complaint.upvote %>
            <div class="tag">
              <%= complaint.type.name %>
            </div>
            <div>
                <%= link_to basket_path(complaint: complaint), method: :post do %>
                  <p>+</p>
                <% end %>
            </div>
          </div>
        </div>
        <%= render 'showtypes', complaint: complaint  %>
      </div>
      <% end %>
    </div>
  </div>

<script>
  function scrollWin(x, y) {
    window.scrollBy(x, y);
  }
</script>

