<div id="city-container">
  <h1><%= current_user.city.name %></h1>
  <div id="city-type-filter">
    <h3>filter your complaint by type:</h3>
  </div>
  <div id="margins-type">
    <span class="tag type">
      <%= link_to type_path(Type.find_by(name: 'Bridge')) do %>
      <%= Type.find_by(name: 'Bridge').name %>
      <% end %>
    </span>
    <span class="tag type">
      <%= link_to type_path(Type.find_by(name: 'Park')) do %>
      <%= Type.find_by(name: 'Park').name %>
      <% end %>
    </span>
    <span class="tag type">
      <%= link_to type_path(Type.find_by(name: 'Road')) do %>
      <%= Type.find_by(name: 'Road').name %>
      <% end %>
    </span>
    <span class="tag type">
      <%= link_to type_path(Type.find_by(name: 'Public Bulding')) do %>
      <%= Type.find_by(name: 'Public Bulding').name %>
      <% end %>
    </span>
  </div>

  <div id="map-container">
    <div
    id="map"
    style="width: 100%;
    height: 340px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    <% if @results.present?%>
      data-latitude="<%= @results[0] %>"
      data-longitude="<%= @results[1] %>"
    <% else %>
      data-latitude="40.4165"
      data-longitude="-3.70256"
    <% end %>
    ></div>
  </div>
  <div id="city-container">
    <h1>Complaints:</h1>
      <div class="type-btn">
        <button onclick="scrollWin(0, 550)" id="myBtn" ><%= image_tag("scroll_arrow_down.png", width: 32, height: 28) %></button>
      </div>
    <div>
      <% @type.complaints.each do |complaint| %>
      <div class="complaint-container">
        <hr class="separator">
        <div class="row">
          <div class="col-8" >
            <%= link_to complaint_path(complaint), "data-toggle" => "modal", "data-target" => "#showModal_#{complaint.id}" do %>
              <p> "<%= complaint.description %>" </p>
            <% end %>
          </div>
          <div class="col-4 upvote-complaints">
            <%= complaint.upvote %>
            <div class="tag">
              <%= complaint.type.name %>
            </div>
          </div>
        </div>
        <%= render 'showtypes', complaint: complaint  %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  function scrollWin(x, y) {
    window.scrollBy(x, y);
  }
</script>

