<% if user_signed_in? && current_user.mayor == true %>
  <div class="homepage-container">

    <div class="welcome-message">
      <h2>Welcome to</h2>

      <div class="container-intro" id="m-container-intro">
        <h1>Urban</h1>
        <h1 id="display-inline-block" >Feed</h1>
        <div id="m-sub-welcome"><p>Politician</p></div>
      </div>

    </div>

    <div class="container-intro">
      <p>Target the maximum amout</p>
      <p>of citizens - we will get</p>
      <p>them to vote for you!</p>
    </div>

    <p id= tool>Select a tool :</p>

    <div id="actions">
      <%= link_to city_path(current_user.city_id) do %>
        <%= image_tag('MAPTOOL-ICON.png', width: 100, height: 100) %>
      <% end %>
      <%= link_to emails_path do %>
        <%= image_tag('EMAILTOOL-ICON.png', width: 100, height: 100) %>
      <% end %>
    </div>

  </div>
<% else %>
  <div class="homepage-container">
    <div class="welcome-message">
      <h2>Welcome to</h2>
      <div class="container-intro">
        <h1>Urban</h1>
        <h1 id="display-inline-block" >Feed</h1>
      </div>
    </div>
    <div class="container-intro">
      <p>Report incidences on your</p>
      <p>neighbourhood</p>
    </div>
  </div>
    <%= form_tag complaints_path, method: :get do %>
      <div class="form_box">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-style",
          id: "complaint-address",
          placeholder: "  Introduce your location"
       %>
       <i class="fas fa-location-arrow"></i>
        <%= submit_tag "Go!", class: "btn btn-primary square-btn-blue" %>
      </div>
    <% end %>
  </div>
<% end %>
