

<div class="userprofile-container">
  <h2>Citizen Profile</h2>

  <div id="p-margins">
    <p><strong>Name: </strong><%=@user.name%></p>

    <p><strong>Profession: </strong><%=@user.profession%></p>
    <p><strong>Email: </strong><%=@user.email%></p>
  </div>

  <h2>Your complaint history</h2>
    <div class="profile-info-container">
      <% Complaint.where(user_id:@user.id).each do |complaint| %>
      <p><strong>Description: </strong><%= complaint.description %></p>
      <p><strong>Name: </strong><%= complaint.type.name %></p>
      <div class="upvote-container">
        <p><%= complaint.upvote %><i class="fas fa-thumbs-up"></i></p>
        <p><%= link_to image_tag("DELETEICON.png", width: 20, height: 28) %></p>
      </div>
    </div>
  <% end %>
</div>



<%#= link_to "log out", destroy_user_session_path, method: :delete%>

