<div class="userprofile-container">
  <h2>Your Profile</h2>

  <div id="p-margins">
    <p><strong>Name: </strong><%=@user.name%></p>
    <p><strong>Profession: </strong><%=@user.profession%></p>
    <p><strong>Email: </strong><%=@user.email%></p>
  </div>

  <% unless current_user.mayor == true %>
    <h2>Your complaint history :</h2>
    <% if Complaint.where(user_id:@user.id).count == 0 %>
      <p id = "no-complaint"><em>Sorry, you don't have any complaint 🤔 !</em></p>
    <% else %>
      <div class="profile-info-container">
        <% Complaint.where(user_id:@user.id).each do |complaint| %>
        <div class="complaint-container">
          <hr id="separator-profile">
          <div class="row" id="row-profile">
            <div class="" >
              <div style=text-align="center">
              <div class="tag">
                <%= complaint.type.name %>
              </div>
              <br>
              <%= link_to complaint_path(complaint), "data-toggle" => "modal", "data-target" => "#showModal_#{complaint.id}" do %>
                <p> "<%= complaint.description %>" </p>
              <% end %>
              <% end %>
              </div>
            </div>
            <div class="col-4 upvote-complaints" id="<%= complaint.id %>" >


            </div>
            <div class="profile-options-container">
              <p id="thumb-profile"><%= complaint.upvote %><i class="fas fa-thumbs-up" id="blue-thumb-profile"></i></p>
               <p><%= link_to image_tag("DELETEICON.png", width: 22, height: 28), complaint_path(complaint), method: :delete %></p>
              </div>
              <hr id="separator-profile">
          </div>
        </div>
      </div>
    <% end %>
    <% else %>
      <h2>Mayor</h2>
    <% end %>
  </div>

<div class="bottom-links">
  <% if current_user.mayor == true %>
    <p><%= link_to 'Back', city_path(City.first.id) %></p>
  <% else %>
    <p><%= link_to 'Back', complaints_path %></p>
  <% end %>

  <p><%= link_to "log out", destroy_user_session_path, method: :delete%></p>
</div>
