<h2>Citizen Profile</h2> <img src="" alt="">

<div>
  <p><%=@user.name%></p>

  <p><%=@user.profession%></p>
  <p><%=@user.email%></p>
</div>

<p>Likes on your complaints:</p>
<img src="" alt="">

<h2>Your complaint history</h2>

<% Complaint.where(user_id:@user.id).each do |complaint| %>
<%= complaint.description %>
<%= complaint.type.name %>
<% end %>
<img src="" alt="">

<%= link_to "log out", destroy_user_session_path, method: :delete%>
