<div id="city-container">
  <h1><%= @city.name %></h1>
  <div id="city-type-filter">
    <h3>filter your complaint by type:</h3>
</div>
  </div>
  <div class="margins-type">
    <span class="tag type typeColor" >
      <%= link_to type_path(Type.find_by(name: 'Bridge')) do %>
      <%= "Bridges" %>
      <% end %>
    </span>
    <span class="tag type typeColor">
      <%= link_to type_path(Type.find_by(name: 'Park')) do %>
      <%= "Parks" %>
      <% end %>
    </span>
    <span class="tag type typeColor">
      <%= link_to type_path(Type.find_by(name: 'Road')) do %>
      <%= "Roads" %>
      <% end %>
    </span>
    <span class="tag type typeColor">
      <%= link_to type_path(Type.find_by(name: 'Public Bulding')) do %>
      <%= "Public Buldings"  %>
      <% end %>
    </span>
  </div>
  <div class="madrid-map">
    <%= image_tag('MadridMap.png', width: 360, height: 250) %>
  </div>



  <div>
    <div class="c-t-complaints-tilte">
      <h3>Complaints:</h3>
    </div>
    <div>
      <% @city.complaints.each do |complaint| %>
        <div class="complaint-container">
          <hr class="separator">
          <div class="row">
            <div class="col-8" >
              <%= link_to complaint_path(complaint), "data-toggle" => "modal", "data-target" => "#showModal_#{complaint.id}" do %>
                <p> "<%= complaint.description %>" </p>
              <% end %>
            </div>
            <div class="col-4 upvote-complaints">
              <i class="fas fa-thumbs-up" class="blue-font"></i>
              <%= complaint.upvote %>
              <div class="type tagShow">
                <%= complaint.type.name %>
              </div>
              <div class="c-t-plus-btn">


                  <%= link_to basket_path(complaint: complaint, city: @city), method: :post do %>
                    <%= image_tag('ADDBUTTON.png', width: 20, height: 20) %>
                  <% end %>
              </div>
            </div>
          </div>
          <%= render 'showcity', complaint: complaint  %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  function scrollWin(x, y) {
    window.scrollBy(x, y);
  }
</script>
